.root_container {
  margin-top: 1rem;
  height: 100vh;
  border: 1px solid #eeeeee;
  padding: 1rem 0.5rem;
}
.root_container-label {
  padding-right: 1rem;
  margin-bottom: 0 !important;
}
.root_container-row {
  margin: 0 !important;
  align-items: center;
  padding-left: 3rem;
}
.root_container-button {
  padding: 4px 9px !important;
}
.root_container-actions {
  padding-top: 1rem;
}

.root_container-table {
  margin: 0 !important;
  padding-top: 1rem;
}
